nav{
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    padding: 1.2em 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .1em;
    text-transform: uppercase;
    margin: .5em;
    padding: .7em;
}
nav li:hover{
    background-color: #46989D;
}
nav li a{
    color: white;
    text-decoration: none;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em;
    height: 60vh;
    text-align: center;
    text-transform: uppercase;
}
.conteudo h1{
    font-size: 7.5em;
    color: white;
    text-shadow: 6px 9px 19px #000;
}
.conteudo p{
    font-size: 5.5em;
    color: chartreuse;
    margin-top: -60px;
    text-shadow: 6px 9px 19px #000;
}
.conteudo a{
    background-color: #48A3A6;
    color: white;
    align-self: center;
    width: 20vw;
    padding: 1em;
    font-size: 2em;
    text-decoration: none;
    border-radius: .2em;
}